<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h3> Enter your text in below box</h3>
        <form method="get" action="/check" >
        <textarea name="text"  style="margin: 0px; width: 597px; height: 209px;"></textarea>
        <br/>
        <input type="checkbox" name="rp_checkbox" />Remove Punctuations
        <br/>
        <input type="checkbox" name="cpt_checkbox" />Capitalize
        <br/>
        <input type="checkbox" name="nl_checkbox" />Remove New Line
        <br/>
        <input type="checkbox" name="extra_space" />Remove Extra Spaces
        <br/>
        <button type='submit' value='send' >Send</button>
        </form>
</body>
</body>
</html>